<div class="set-background book-views">
  <div>&nbsp;</div>
  <div class="container">
    <h1 class="white-head">Everything We Have:</h1>
  </div>
  <div>&nbsp;</div>
  <%= render 'book_loop' %>
</div>
