<div class="home-background book-views poppins">
  <div class="container">
    <h1 class="white-head">Here's a History of What You've Listed:</h1>
  </div>
  <div>&nbsp;</div>
<div class="container">
  <table class="table input-form">
  <thead>
    <tr>
      <th class="col-md-2 center">Subject</th>
      <th class="col-md-2 center">Title</th>
      <th class="col-md-2 center">Author</th>
      <th class="col-md-1 center">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
     <tr>
       <td class="center"><%= book.category.try :subject %></td>
       <td class="center"><%= book.title.truncate_words(4) %></td>
       <td class="center"><%= book.author.truncate_words(3) %></td>
       <td class="center"><%= book.price %></td>
     </tr>
     <% end %>
  </tbody>
</table>
</div>
  <div> &nbsp; </div>
<br>

</div>
