<div class="set-background book-views poppins">
  <div>&nbsp;</div>
  <div class="container">
    <h1 class="white-head">Sorted by Subject: <%= @category.subject %></h1>
  </div>
  <div>&nbsp;</div>
  <%= render 'book_loop' %>
</div>
