<div class="form-outline form-background">
  <div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>


  <h1 class="form-header white-head">Edit Book</h1>
  <div>&nbsp;</div>

    <%= render 'form', book: @book %>

    <div>&nbsp;</div>

    <%= link_to 'Show', @book %> |
    <%= link_to 'Back', books_path %>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>
</div>
