<div class="form-outline form-background">
  <div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>

<h1 class="form-header white-head poppins">New Listing</h1>
<div>&nbsp;</div>

<%= render 'form', book: @book %>

<div>&nbsp;</div>

<%= link_to 'Back', books_path, class:"poppins" %>

<div>&nbsp;</div>
<div>&nbsp;</div>

</div>
</div>
